@import url('https://fonts.googleapis.com/css2?family=Ovo&family=Quattrocento+Sans&display=swap');
// font-family: 'Ovo', serif;
// font-family: 'Quattrocento Sans', sans-serif;

$main: #114B5F; $secondary: #1A936F; $background: #F5F7FA; $highlight: #ffdba6; $offTextColor: #b3b3b3; $linkColor: #4573d2;

body {
    margin: 0;
    background-color: $background;
}

//  Header

h4 a {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.auth {
    font-size: .9rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#root {
    overflow-x: hidden;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-center {
   text-align: center;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

// auth
.create-user {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $secondary;
}

.account-form_container {
    width: 90%;
   
    .defer {
        margin: .4rem 0;
        a {
           
            color: $linkColor;
            text-decoration: underline;
        }
    }
}

.account-form {
    background-color: white;
    padding: 2rem;

    h1 {
        // font-family: 'Ovo', serif;
font-family: 'Quattrocento Sans', sans-serif;

    }
}

.account-form_control {
    width: 100%;  
}

.google-auth {
    img {
        width: 1rem;
        padding: .25rem;
    }
} 

// end auth

.create-input {
    margin: 1rem 0!important;
}

.form-container_modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: (translate(-50%, -50%));
}

.modal-form {
    width: 400px;
    background-color: white;
    border: 2px solid #000;
    padding: 1rem;
}

.user-foods {
    width: 400px;
    background-color: white;
}

.food-item {
    width: 100%
}

// footer 

footer {
    background-color: #114B5F;
}

.footer-inner {
    background-color: $main;
    padding: 2rem 4rem !important;

    hr {
        // color: #ffdba6;
        border: $highlight solid 1px;
    }
}

.footer-inner_nav {
    display: inline-block;
    padding: 2rem 0;

    h4 {
        color: white;
        padding: 1rem 0;
    }

    a {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: ShopifySans, Helvetica, Arial, sans-serif;
        font-weight: 700;
        font-size: 1em;
        margin-right: 1em;
        color: #ffffff;
        display: inline-block;
    }
}

.footer-items {
    color: $offTextColor;
    cursor: pointer;

    &:hover {
        color: #b6babf
    }
    transition: color .1s ease-in-out;
}

.footer-inner_nav-container {
    padding: 1rem 3rem;
}

.copy {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: .93rem;
    color: #b6babf;
    letter-spacing: unset;

    span {
        margin-left: 1rem;
        cursor: pointer;
    }
}

.icon {
    margin-right: .5rem;
    color: #0e76a8;
    // border-radius: 50%;
    background-color: white;

    &:hover {
        background-color: #b6babf;
    }
}

@media(min-width: 40rem) {

    .account-form_container {
        width: 25rem;
    }
}