@import url('https://fonts.googleapis.com/css2?family=Ovo&family=Quattrocento+Sans&display=swap');
// font-family: 'Ovo', serif;
// font-family: 'Quattrocento Sans', sans-serif;

$main: #114B5F; $secondary: #1A936F; $background: #F5F7FA;

body {
    margin: 0;
    background-color: $background;
}

.auth {
    font-size: .9rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#root {
    overflow-x: hidden;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-center {
   text-align: center;
}

.footer-inner {
    background-color: $main;
    padding: 2rem 4rem !important;

    hr {
        // color: #ffdba6;
        border: #ffdba6 solid 1px;
    }
}

.footer-inner_nav {
    display: inline-block;
    padding: 0;
    
    li {
        display: inline-block;
    }

    a {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: ShopifySans, Helvetica, Arial, sans-serif;
        font-weight: 700;
        font-size: 1em;
        margin-right: 1em;
        color: #ffffff;
        display: inline-block;
    }
}

.icon {
    color: white;
}

.footer-inner_nav-container {
    padding: 1rem 3rem;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

@media(min-width: 40rem) {
    .auth {
        font-size: 1.2rem;
        font-family: "Quattrocento Sans", sans-serif;
    }
}